/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/poppins-v19-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/poppins-v19-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

body,
html {
    height: 100%;
    color: #7c7c7c;
    line-height: 1.8;
    width: 50vw;
    margin: auto;
    scroll-behavior: smooth;
}

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('/w3images/parallax1.jpg');
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("/w3images/parallax2.jpg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("/w3images/parallax3.jpg");
    min-height: 400px;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {

    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
        min-height: 400px;
    }
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 1px black; */
    min-height: 100vh;
    gap: 5%;
}

#homeTop {
    font-size: 3rem !important;
}

#home span {
    font-size: 2rem;
}

.cvPhoto {
    width: 16rem;
    display: block;
}

.photoHolder {
    height: 100%;
    overflow: hidden;
    border-radius: 30px;
}

.w3-display-middle {
    position: initial;
    top: initial;
    left: inherit;
    transform: initial;
}

.w3-wide {
    letter-spacing: initial;
}

#myNavbar {
    width: 50vw;
    border-radius: 0 0 10px 10px;
    transition: 0.3s;
    color: #7c7c7c;
}

#myNavbar a {
    transition: 0.3s;
}

#myNavbar a:hover {
    color: #afafaf !important;
    transition: 0.3s;
    background-color: initial !important;
}

.w3-animate-top {
    animation-name: none;
    color: #7c7c7c !important;

}

.mainText {
    font-size: 1.3rem;
    text-align: justify;
    padding: 20px 0;
}

#arrow {
    width: 5rem;
    justify-self: center;
    align-self: flex-end;
}

.tech {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7vw;
}

.techSvg {
    width: 3.5rem;
    transition: 0.3s;
}

.techSvg:hover {
    /* width: 5rem; */
    transition: 0.3s;
    filter: drop-shadow(0 0 1rem #7c7c7c);
    cursor: pointer;
}

.skillSet {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio img {
    border-radius: 10px;
    width: 140px !important;
    height: 100px;
}

#modal01 {
    /* background: (124, 124, 124); */
    background-color: rgba(124, 124, 124, 0.95);
}

#modal01 img {
    border-radius: 25px;
}

#caption {
    color: #000000;
    /* background-color: #ffffff; */
    border-radius: 10px;
}

#buttonContainer {
    width: 100%;
}

.downloadButton {
    margin: auto;
    width: fit-content;
}

.button {
    border-radius: 10px;
    transition: 0.3s;
}

.button:hover {
    transition: 0.3s;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    border-radius: 10px;
}

.sendButton {
    width: fit-content;
    margin: auto;
    border-radius: 10px;
}


.links {
    color: #7c7c7c;
    font-size: 2.5rem;
    padding: 10px;
}


.links i {
    padding: 0 10px;
    transition: 0.3s;
}

.links i:hover {
    transition: 0.3s;
}


#homeButton {
    border-radius: 10px;
    margin: 15px;
    color: #7c7c7c !important;
}

#homeButton {
    transition: 0.3s;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}